name: Keep App Alive

on:
  schedule:
    - cron: "*/15 * * * *"  # Runs every 15 minutes
  workflow_dispatch:        # Allows manual run

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping App
        run: curl -I https://vishalsoni161003-kpmg-acss-pow-app-r8k6cd.streamlit.app/Home
